﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 20px">
    <h3>Please enter your name and pick the Sectors you are currently involved in.</h3>
</div>

<div class="row" ng-app="enrollmentApp" ng-controller="EnrollmentsController">
    <form name="enrollmentForm">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" ng-model="person.name" required />
            <p ng-show="submitted || enrollmentForm.person.name.$error.required" class="help-block">You name is required.</p>
        </div>
        <div class="form-group">
            <label>Sectors</label>
            <select class="form-control" multiple size="5" ng-model="person.sectors" required>
                <option ng-repeat="sector in sectors" value="{{sector.sectorId}}" style="padding-left:{{sector.groupLevel*15}}px">{{ sector.sectorName }}</option>
            </select>
            <p ng-show="submitted || enrollmentForm.person.sectors.$error.required" class="help-block">Selection required.</p>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="person.agreement" required> Agree to terms
            </label>
            <p ng-show="submitted || enrollmentForm.person.agreement.$error.required" class="help-block">Please agree to terms</p>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" ng-click="save_person()" value="Save" />
        </div>
    </form>
</div>
